.App {
  text-align: center;
  background: rgb(250, 247, 247);
  /* background: #120807; */
  place-content: center;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}
